{% layout none %}<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
{%- paginate collection.products by 50000 -%}
<channel>
<title>{{ shop.name }} {{ collection.title | replace: '&', '&amp;' }}</title>
<link>{{ shop.url }}</link>
<description>{{ collection.description | strip_html }}</description>
{%- for product in collection.products -%} 
  {%- include 'bold-product' with product, hide_action: 'skip' -%}
 {%- if product.variants.size > 0 -%}
  {% for variant in product.variants %}
<item>
<g:image_link>http:{{  product.images[0] | img_url: 'large' }}</g:image_link>
<oldtitle>{{ product.title | strip_html | strip_newlines | replace: '&', '&amp;' }}</oldtitle>
<title>{{ product.metafields.global.title_tag | replace: '&', '&amp;' }}</title>
<description>{{ product.metafields.global.description_tag | replace: '&', '&amp;' }}</description>
<g:id>{{ variant.sku }}</g:id>
<g:product_type>{% for tag in product.tags %}{{ tag | replace: '&', '&amp;' | strip_html  }}, {% endfor %}{% for collection in product.collections %}{{ collection.title | replace: '&', '&amp;' | strip_html }}, {% endfor %}</g:product_type>
</item>
{% endfor %}
{% else %}
<item>
<g:image_link>http:{{  product.images[0] | img_url: 'large' }}</g:image_link>
<oldtitle>{{ product.title | strip_html | strip_newlines | replace: '&', '&amp;' }}</oldtitle>
<title>{{ product.metafields.global.title_tag | replace: '&', '&amp;' }}</title>
<description>{{ product.metafields.global.description_tag | replace: '&', '&amp;' }}</description>
<g:id>{{ product.sku }}</g:id>
<g:product_type>{% for tag in product.tags %}{{ tag | replace: '&', '&amp;' | strip_html  }}, {% endfor %}{% for collection in product.collections %}{{ collection.title | replace: '&', '&amp;' | strip_html }}, {% endfor %}</g:product_type>
</item>
{% endif %}
{% endfor %}
</channel>
</rss>
{% endpaginate %}